.examples{
    margin-top: 100px;
    overflow-x: hidden;
    &__container{
        &__title{
            h2{
                text-align: center;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
                color: #000000;
            }
        }
        &__videos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 50px;
        }
    }
}