.bgBlack{
    background-color: #F5F5F7;
    z-index: -2;
}

.advantage{
    padding: 100px;
    &-top{
        display: flex;
        align-items: center;
        justify-content: center;
        b{
            font-size: 28px;
        }
    }
    &-cards{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
        .card4{
            margin-left: 140px;
        }
        .card5{
            margin-right: 140px;
        }
        .box{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 40px;
            z-index: 1;
            position: relative;
            .animateImg{
                overflow: hidden;
                animation: tranlateY 2s ease both;
            }
            .animateImg2{
                overflow: hidden;
                animation: tranlateY2 2s ease both;
            }
            .animateImg3{
                overflow: hidden;
                animation: tranlateY3 2s ease both;
            }
            .animateImg4{
                overflow: hidden;
                animation: tranlateY4 2s ease both;
            }
            img{
                width: 100px;
                height: 100px;
                cursor: pointer;
                margin-top: 50px;
            }
            &-img{
                padding: 40px;
                background-color: white;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                z-index: -1;
            }
            .animationBox{
                padding: 40px;
                background-color: white;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                z-index: -1;
                animation: rotateBox 2s both ease-in-out;
            }
            b{
                color: #18519C;
                font-size: 22px;
                font-weight: 700;
                width: 240px;
                text-align: center;
                margin-top: 20px;
            }
            p{
                color: #848485;
                font-size: 18px;
                font-weight: 400;
                width: 300px;
                text-align: center;
                margin-top: 15px;
            }
        }
    }
}

@keyframes rotateBox {
    0%{
        transform: rotateZ(45deg);
    }
    50%{
        transform: rotateZ(245deg);
    }
    100%{
        transform: rotateZ(225deg);
    }
}

@keyframes tranlateY {
    0%{
        transform: translateY(100px);
        opacity: 0.6;
    }
    50%{
        transform: translateY(-20px);
        opacity: 0.8;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes tranlateY2 {
    0%{
        transform: translateY(-100px);
        opacity: 0.6;
    }
    50%{
        transform: translateY(20px);
        opacity: 0.8;
    }
    to{
        transform: translateY(-0px);
        opacity: 1;
    }
}

@keyframes tranlateY3 {
    0%{
        transform: translateX(-100px);
        opacity: 0.6;
    }
    50%{
        transform: translateX(20px);
        opacity: 0.8;
    }
    to{
        transform: translateX(-0px);
        opacity: 1;
    }
}

@keyframes tranlateY4 {
    0%{
        transform: translateX(100px);
        opacity: 0.6;
    }
    50%{
        transform: translateX(-20px);
        opacity: 0.8;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}