.contact{
    position: relative;
    height: 600px;
    width: 100%;
    iframe{
        width: 100%;
        height: 600px;
        z-index: -1;
    }
    &__container{
        &__card{
            position: absolute;
            top: 100px;
            left: 200px;
            width: 450px;
            background-color: #fff;
            margin: 0 auto;
            padding-left: 50px;
            padding-top: 50px;
            padding-bottom: 30px;
            h4{
                font-size: 32px;
                font-weight: bold;
            }
            h6{
                margin-top: 25px;
                font-weight: bolder;
                font-size: 22px;
                line-height: 36px;
                padding-bottom: 30px;
            }
            a{
                text-decoration: none;
                color: #000;
                font-weight: bolder;
                font-size: 20px;
            }
            i{
                font-size: 30px;
                padding-right: 15px;
                color: red;
            }
        }
    }
}