.footer{
    height: 25vh;
    background-color: #111111;
    padding: 0;
    &__container{
        padding-top: 40px;
        &__text{
            h6{
                color: #9F9F9F;
            }
            p{
                color: #9F9F9F;
                padding-top: 10px;
            }
        }
    }
}